body {
  background-color: #303030;
}
.banner {
  display: flex;
  padding: 0 15px;
  border-bottom: 1px solid#fbfbfb;
}
#icon {
  font-size: 25px;
  color: #fbfbfb;
  margin: 20px 0;
}
.banner_icon {
  display: flex;
  border-right: 1px solid #fbfbfb;
}

.logo_img {
  background-color: #fbfbfb;
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50%;
}
#ntust_logo {
  width: 60px;
  position: relative;
  top: 3px;
  right: 11px;
}
.logo_name {
  color: #fbfbfb;
  margin: 20px 10px;
  font-weight: 700;
  font-size: 20px;
}
.ntust {
  background-color: #fbfbfb;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 40px auto;
  /* top: 100px;
    left: 70px; */
}
#login_ntust {
  width: 320px;
  position: relative;
  top: 10px;
  right: 64px;
}
.log_body {
  margin: 100px auto;
  margin-bottom: 20px;
  text-align: center;
  color: #fbfbfb;
}
.log_body > label {
  font-size: 20px;
}
.login_input {
  height: 25px;
  width: 215px;
  margin: 20px 0;
  margin-bottom: 20px;
  border-radius: 5px;
}
.login_status {
  color: #e72948;
  margin: 10px 0;
}
#creat_link {
  color: #4175cb;
  text-decoration: none;
  font-size: 15px;
  margin: 0 20px;
}
.log_post {
  margin: 0px auto;
  width: 250px;
}
#login_btn {
  border-radius: 5px;
  padding: 2px 6px;
  background-color: #4175cb;
  color: #fbfbfb;
  font-size: 15px;
}
#register_title {
  color: #fbfbfb;
  font-size: 25px;
  font-weight: 700;
  margin: 70px 180px;
  width: 700px;
}
.register_input {
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
}
#lastname {
  width: 100px;
}
#firstname {
  width: 190px;
}
.name_box {
  margin: 30px auto;
  width: 700px;
}
.gender {
  color: #fbfbfb;
  font-size: 20px;
  margin: 10px auto;
  width: 700px;
}
.username_box {
  margin: 10px auto;
  width: 700px;
}
.password_box {
  margin: 10px auto;
  width: 700px;
}
#username {
  width: 341px;
}
#password {
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
}
#repassword {
  margin-top: 10px;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
}
[type="text"] {
  color: #303030;
  border: 1px solid transparent;
  background: #fbfbfb;
}
[type="password"].valid,
[type="text"].valid {
  border: 1px solid whitesmoke;
}

[type="password"] {
  letter-spacing: 0.2em;
}
#continue_btn {
  border-radius: 5px;
  padding: 2px 6px;
  background-color: #4175cb;
  color: #fbfbfb;
  font-size: 20px;
}
.go_on {
  margin: 50px auto;
  width: 700px;
}
.user_container {
  display: flex;
  margin: 30px auto;
  width: 700px;
}
#birth {
  width: 130px;
  margin-right: 10px;
}
.username_container {
  margin: 0px auto;
  width: 700px;
}
#username {
  width: 300px;
}
#phone {
  width: 150px;
}
.company {
  margin: 10px auto;
  width: 700px;
}
#userset_status {
  color: #e72948;
  margin-left: 165px;
}
.status {
  color: #e72948;
}
#company_name {
  margin-bottom: 20px;
  width: 300px;
}
#company_address {
  width: 300px;
}
.verify {
  margin: 50px auto;
  width: 700px;
}
#verify_code {
  width: 100px;
  margin-left: 200px;
}
#resent {
  text-decoration: none;
  color: #4175cb;
  font-size: 10px;
  margin-left: 200px;
}
#resent:hover {
  border-bottom: 1px solid #4175cb;
}
.register_btn {
  margin: 0px auto;
  width: 700px;
}
#register {
  margin-left: 300px;
  border-radius: 5px;
  padding: 2px 6px;
  background-color: #4175cb;
  color: #fbfbfb;
  font-size: 20px;
}
.four_btn {
  display: flex;
  justify-content: center;
  margin: 85px auto;
}
#list_btn {
  background-color: #ff7e5f;
  color: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  font-size: 30px;
  margin: 20px;
}
#monitor_btn {
  background-color: #ffca5f;
  color: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  font-size: 30px;
  margin: 20px;
}
#setup_btn {
  background-color: #2f70c7;
  color: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  font-size: 30px;
  margin: 20px;
}
#error_manager {
  background-color: #e72948;
  color: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  font-size: 30px;
  margin: 20px;
}
.table_container {
  text-align: center;
  margin: 5px 40px;
  height: auto;
  width: auto;
  background-color: #fbfbfb;
  border-radius: 5px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  color: #303030;
  width: 100%;
}
td {
  height: 30px;
  padding: 10px 0;
}
th {
  font-weight: 700;
  padding: 10px 0;
  border-bottom: 1px solid #303030;
}
.select_choose {
  margin-top: 20px;
  margin-left: 40px;
}
#single_fan_data {
  margin-top: 20px;
  margin-left: 40px;
}
.select_label {
  /* display: flex; */
  color: #fbfbfb;
  margin: 5px 40px;
}
.select_context {
  display: flex;
  margin: 10px;
}
.im_btn:hover {
  color: #fbfbfb;
  border: 1px solid #fbfbfb;
  background-color: #303030;
}
.his_btn:hover {
  color: #fbfbfb;
  border: 1px solid #fbfbfb;
  background-color: #303030;
}
.report_flex {
  display: flex;
  justify-content: space-between;
}
.report {
  margin: 5px 50px;
}
#report_btn {
  width: 200px;
  border-radius: 5px;
  border: 1px solid #fbfbfb;
}
#excel_btn {
  width: 200px;
  border-radius: 5px;
  border: 1px solid #fbfbfb;
}
#report_btn:hover {
  color: #fbfbfb;
  border: 1px solid #fbfbfb;
  background-color: #303030;
}

.pw_check tr {
  color: #303030;
}
.strangth {
  width: 100px;
}
#pw_form {
  border-radius: 5px;
  background-color: #eee;
  width: 300px;
}
.err_msg {
  color: red;
}
#station_title {
  font-size: 25px;
  font-weight: 700;
  margin: 0px 100px;
  margin-top: 60px;
  margin-bottom: 10px;
}
#select_station_list {
  margin: 0px 80px;
}
.place {
  width: 100px;
  height: 20px;
  border-radius: 5px;
  background-color: #fbfbfb;
  color: #303030;
}
.station_btn_sel {
  text-align: center;
}
.station_btn {
  width: 300px;
  height: 100px;
  font-size: 20px;
  background-color: #aaa;
  border: 1px solid #fbfbfb;
  border-radius: 5px;
  box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.7);
  margin: 20px 80px;
}
.station_btn:hover {
  background-color: #00c0ef;
}
.station_info {
  width: 95%;
  margin: 10px auto;
}
.info_title {
  display: flex;
  color: #fbfbfb;
  font-weight: 700;
  background-color: #3c8dbc;
  line-height: 50px;
  font-size: 15px;
  padding-left: 10px;
}
.info_content {
  background-color: #fbfbfb;
  color: #303030;
  height: auto;
  display: flex;
}
#info_subcontain {
  padding: 15px;
  width: 33%;
}

.subtitle {
  margin: 10px;
  padding: 15px 30px;
  border-top: 4px solid #3c8dbc;
  border-radius: 5px;
  height: 230px;
  border-left: 2px solid rgb(219, 213, 213);
  border-right: 2px solid rgb(219, 213, 213);
  border-bottom: 2px solid rgb(219, 213, 213);
}

.caseInfo {
  margin: 15px;
}
.caseInfo > label {
  font-weight: 700;
}
.id_name > label {
  font-weight: 700;
}
.case_name {
  margin: 15px 30px;
}
.case_address {
  margin-top: 10px;
}
.apply {
  padding-left: 200px;
}
.station_input {
  font-size: 15px;
  border: 1px solid #303030;
  /* border-radius: 5px; */
  width: 150px;
}
.station_address {
  margin: 5px 0;
  border: 1px solid #303030;
  /* border-radius: 5px; */
}
.inverter_count {
  border: 1px solid #303030;
  border-radius: 5px;
  width: 70px;
}
#station_apply_btn {
  border-radius: 5px;
  border: 1px solid #4175cb;
  padding: 2px 6px;
  background-color: #4175cb;
  color: #fbfbfb;
  font-size: 15px;
  margin-left: 50px;
}
#status {
  font-weight: 700;
  color: green;
}
.setting {
  color: #fbfbfb;
  background-color: #aaaaaa;
  height: 200px;
  margin: 1% 2%;
  border-radius: 5px;
}
.set_title {
  font-size: 20px;
  padding: 5px;
  border-bottom: 2px solid #fbfbfb;
}
.set_body {
  padding: 10px;
}
.upper_input {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.set_input {
  border-radius: 5px;
  border: 1px solid #fbfbfb;
  width: 100px;
  height: 20px;
  margin-left: 10px;
}
.lower_input {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
#save_setting {
  color: #fbfbfb;
  background-color: #4175cb;
  border: 1px solid #4175cb;
  border-radius: 5px;
  height: 25px;
}
.save_btn {
  margin: 10px auto;
}
.hint {
  color: #fbfbfb;
  margin: 5px;
}
.hints {
  max-width: 500px;
  padding: 1em;
  background: whitesmoke;
  margin: 1em 0;
  font-size: 0.9em;
  color: #4d6567;
}
.hints h2 {
  margin: 0.5em 0 0.2em 0;
}
.hints p {
  margin: 0;
  padding-left: 1em;
}
.hints p::before {
  content: ">";
  font-size: 0.9em;
  margin-right: 6px;
  display: inline-block;
}
.material-icons {
  font-size: 1.5em;
}
.visibility {
  all: unset;
  background: #fbfbfb;
  display: inline-block;
  color: #303030;
  padding: 2px 0.4em 0;
  vertical-align: center;
  border-radius: 5px;
}

.hint-enter {
  opacity: 0;
  transform: translate3d(-20px, 0, 0);
}
.hint-leave-to {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
}
.hint-enter-active {
  transition: 300ms;
}
.hint-leave-active {
  transition: 400ms;
}
.matches {
  color: #ff0000;
}
.user_photo {
  color: #fbfbfb;
  margin: 40px auto;
  text-align: center;
  font-size: 130px;
}
.user_profile {
  background-color: #fbfbfb;
  margin: auto;
  width: 500px;
  padding-top: 20px;
  color: #303030;
  border-radius: 5px;
}
.profile_box {
  border-bottom: 1px solid #303030;
  margin-bottom: 20px;
  padding-bottom: 5px;
  padding-left: 5px;
}
.profile_box > label {
  font-weight: 700;
  font-size: 20px;
}
.fa-pen {
  color: #4c6ef5;
  cursor: pointer;
}
#save_profile {
  background-color: #4175cb;
  color: #fbfbfb;
  border-radius: 5px;
  border: 1px solid #4175cb;
  height: 25px;
}
.select_set_machine {
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
}
.select_set {
  margin-right: 30px;
}
#search_setting {
  border-radius: 5px;
  height: 18px;
}
.select_choose select {
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 20px;
  line-height: 20px;
}
#single_fan_data button {
  width: 100px;
  border-radius: 5px;
  border: 1px solid #fbfbfb;
}
.active,
.fan_btn:hover {
  background-color: #303030;
  color: #fbfbfb;
  border: 1px solid #fbfbfb;
}
.btn_segmented_control {
  background-color: #303030;
  color: #fbfbfb;
  border: 1px solid #fbfbfb;
}
.btn_segmented_control.active,
.btn_segmented_control:hover {
  background-color: #fbfbfb;
  color: #303030;
  outline: none;
}
.table_container_setting {
  background-color: #fbfbfb;
  width: 1470px;
  border-radius: 5px;
  margin: 10px auto;
  height: auto;
}
#else_table {
  background-color: #fbfbfb;
  margin: 10px 30px;
  border-radius: 5px;
  width: auto;
  font-size: 25px;
  color: blue;
  text-align: center;
  line-height: normal;
}
#pop_profile {
  width: 400px;
  height: 200px;
  background-color: #fbfbfb;
  border-radius: 5px;
  position: absolute;
  margin: 10px auto;
  right: 100px;
  border: 1px solid #303030;
  z-index: 1;
}
.user_icon {
  color: #303030;
  text-align: center;
  font-size: 40px;
  padding-top: 15px;
}
.profile_icon {
  font-size: 50px;
  margin-top: 20px;
  color: #303030;
}
.user_data {
  color: #303030;
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
}
.logout {
  text-align: center;
  margin-top: 20px;
}
#logoutbtn {
  background-color: #303030;
  color: #fbfbfb;
  border-radius: 5px;
  border: 1px solid #303030;
  height: 30px;
  font-weight: 700;
}
.list-group-item {
  min-height: 42px;
}

.label {
  margin: 0 2px;
  cursor: pointer;
}

span.save {
  color: blue;
}

input.done {
  text-decoration: line-through;
  font-style: italic;
  color: #aaa;
}

input.editing {
  border: 0;
  background-color: #d9edf7;
  cursor: default;
}
.table_setup {
  text-align: center;
}
.modal_change {
  text-align: center;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #fbfbfb;
  width: 1470px;
}
.modal-title {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 2px solid #303030;
  background-color: #3c8dbc;
  color: #fbfbfb;
}
.close_white {
  background-color: transparent;
  border: transparent;
  font-size: 20px;
}
.modal-body {
  margin: 15px 0;
}
.modal_footer {
  padding: 10px;
}
.set_select_context {
  display: flex;
  margin-left: 530px;
}
.select_detail {
  margin: 0 10px;
  font-weight: 700;
}
.update_profile {
  margin: 0 10px;
}
.table_box {
  background-color: #3c8dbc;
  margin: 10px 40px;
}
/* #real_time_cont {
  display: none;
} */
.sele_page {
  margin: 10px 0;
}
#real_time {
  border-collapse: collapse;
  display: block;
  overflow: auto;
  white-space: nowrap;
}
#real_time th {
  border: 3px solid #3c8dbc;
  background-color: #3c8dbc;
  color: #fbfbfb;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  padding: 0 5px;
}
#real_time td {
  text-align: center;
  border: 3px solid #3c8dbc;
  background-color: #fbfbfb;
  vertical-align: middle;
}
.nodata {
  text-align: center;
}
#historical {
  border-collapse: collapse;
  display: block;
  overflow-y: auto;
  white-space: nowrap;
}
#historical th {
  width: 8%;
  border: 3px solid #3c8dbc;
  background-color: #3c8dbc;
  color: #fbfbfb;
  padding: 0 5px;
}
#historical td {
  text-align: center;
  border: 3px solid #3c8dbc;
  background-color: #fbfbfb;
  vertical-align: middle;
  padding: 5px;
}
.real_weather_box {
  display: flex;
}
.loader {
  display: flex;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 40%;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  padding: 30px 30px;
  border-radius: 5px;
  background: #fff;
}
.loader__text {
  display: flex;
  padding-top: 10px;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 16px;
}
.loader span {
  -webkit-animation: bouncing 1500ms ease-in-out infinite;
  animation: bouncing 1500ms ease-in-out infinite;
  background: orangered;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 0 5px;
}
.loader span:nth-child(1) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.loader span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.loader span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
@-webkit-keyframes bouncing {
  0%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(0, 0, 1);
  }
}
@keyframes bouncing {
  0%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(0, 0, 1);
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
#abnormal {
  border-collapse: collapse;
  overflow: auto;
  white-space: nowrap;
}
#abnormal th {
  border: 3px solid #3c8dbc;
  background-color: #3c8dbc;
  border-radius: 5px;
  color: #fbfbfb;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0 5px;
}
#abnormal td {
  text-align: center;
  border: 3px solid #3c8dbc;
  background-color: #fbfbfb;
  vertical-align: middle;
}
.pagesorted a {
  color: #fbfbfb;
}
.pagesorted li {
  display: inline-block;
}
#pagecount {
  border: 1px solid #303030;
  padding: 1px;
  margin: 5px 2px;
}
.refresh_time {
  color: #fbfbfb;
}
#overview {
  background-color: #fbfbfb;
  color: #303030;
  height: 200px;
  width: auto;
  border-radius: 5px;
  margin: 10px;
  border: 1px solid #92a8d1;
}
.overview_header {
  padding: 10px;
  border-bottom: 1px solid #303030;
}
.algorithm {
  margin: 20px;
}
#algorithm_table {
  border: 1px solid #303030;
  text-align: center;
}
#algorithm_table th {
  background-color: #92a8d1;
}
#report_btn_container {
  margin: 5px 10px;
}
#report_btn_container button {
  width: 100px;
  border-radius: 5px;
}
.chart_container {
  background-color: #ecf0f5;
  margin: 5px;
  border-radius: 5px;
  height: 370px;
  width: 750px;
}
.chart {
  display: flex;
}

/*dropdown*/
.nav_container {
  max-width: 1000px;
  margin: 0 auto;
}
.nav_header {
  float: right;
}
.nav_header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav_header ul li {
  float: left;
  position: relative;
}
.nav_header ul li a,
.nav_header ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  color: #ffffff;
  text-decoration: none;
}
.nav_header ul li a:hover,
.nav_header ul li a:visited:hover {
  background: #fbfbfb;
  color: #2581dc;
}
.nav_header ul li a:not(:only-child):after,
.nav_header ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
.nav_header ul li ul li {
  min-width: 190px;
}
.nav_header ul li ul li a {
  padding: 15px;
  line-height: 20px;
  background: #2581dc;
}
.nav_dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
/* #nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
} */
/* #nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
} */
/* #nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
} */
/* #nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
} */
/* Mobile navigation */
/* .nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
} */
/*dropdown done*/
.abnormal_header {
  display: flex;
}
#abnormal_title {
  color: #fbfbfb;
  font-size: 25px;
  font-weight: 700;
  margin-top: 40px;
  margin-left: 50px;
}
#abnormal_station_list {
  margin-top: 40px;
  margin-left: 40px;
}
#abnormal_station_list select {
  width: 100px;
  height: 25px;
  border-radius: 5px;
}
.repair_container {
  background-color: #fbfbfb;
  width: 60%;
  height: calc(100vh - 160px);
  border-radius: 5px;
  margin: 10px 0px;
  overflow-y: auto;
  white-space: wrap;
}
ul.repair_tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 35px;
  width: 100%;
}
ul.repair_tabs li {
  float: left;
  margin: 0;
  cursor: pointer;
  padding: 0px 21px;
  height: 31px;
  line-height: 31px;
  color: #3c8dbc;
  font-weight: 700;
  overflow: hidden;
}
.tab_last {
  border-right: 1px solid #303030;
}
ul.repair_tabs li:hover {
  background-color: #ccc;
  color: #303030;
  border-radius: 5px;
}
ul.repair_tabs li.active {
  background-color: #fbfbfb;
  border-radius: 5px;
  color: #3c8dbc;
  border-bottom: 3px solid #3c8dbc;
  display: block;
}
.tab_container {
  border-top: none;
  clear: both;
  float: left;
  width: 100%;
  background: #fbfbfb;
  overflow: auto;
}
.tab_content {
  padding: 20px;
  display: none;
}

.tab_drawer_heading {
  display: none;
}
.table_repair {
  text-align: center;
}
#repair_apply {
  background-color: #3c8dbc;
  color: #fbfbfb;
  border: 1px solid #303030;
  cursor: pointer;
}
#repairDoneWindow {
  width: 600px;
  height: 400px;
  background-color: #fbfbfb;
  border-radius: 5px;
  position: absolute;
  margin: 10px 40%;
  border: 1px solid #3c8dbc;
  z-index: 1;
}
.repair_subtitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  padding: 15px 30px;
  border-top: 4px solid #3c8dbc;
  border-radius: 5px;
  height: 250px;
  border-left: 2px solid rgb(219, 213, 213);
  border-right: 2px solid rgb(219, 213, 213);
  border-bottom: 2px solid rgb(219, 213, 213);
}
.repair_info {
  padding: 10px 15px;
  margin-bottom: 15px;
}
.repair_subtitle label {
  font-weight: 700;
}
.fill_in {
  width: 150px;
}
.repair_footer {
  margin-left: 165px;
}
#repair_done {
  background-color: #3c8dbc;
  color: #fbfbfb;
  border: 1px solid #303030;
  cursor: pointer;
}
#abnormal_title {
  margin: 23px 15px;
  font-size: 20px;
}
#abnormal_station_list {
  margin: 20px 0;
}
#abnormal_station_list select {
  width: 80px;
}
.map_container {
  background-color: #fbfbfb;
  width: 50%;
  height: calc(100vh - 160px);
  border-radius: 5px;
  margin: 10px 50px;
}
#stationMap {
  height: 100%;
  z-index: 0;
}
.abnornal_content {
  display: flex;
}
.facility_container {
  background-color: #fbfbfb;
  color: #303030;
}
.facility_subcontent {
  padding: 15px;
}
.facility_subtitle {
  margin: 10px;
  padding: 15px 30px;
  border-top: 4px solid #3c8dbc;
  border-radius: 5px;
  height: 280px;
  border-left: 2px solid rgb(219, 213, 213);
  border-right: 2px solid rgb(219, 213, 213);
  border-bottom: 2px solid rgb(219, 213, 213);
  overflow: scroll;
  text-align: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transform: 0.4s;
  transform: 0.4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  top: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
@media screen and (max-width: 768px) {
  .repair_tabs {
    display: none;
  }
  .tab_drawer_heading {
    background-color: #ccc;
    color: #fff;
    border-top: 1px solid #333;
    margin: 0;
    padding: 5px 20px;
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .d_active {
    background-color: #666;
    color: #fff;
  }
  .hints {
    position: relative;
    top: 0;
    left: 0;
    max-width: 280px;
    margin-top: 1em;
    margin-left: 20px;
  }
  table {
    font-size: 12px;
  }
  .name_box {
    margin-left: 20px;
    width: 0;
  }
  .gender {
    margin-left: 20px;
    width: 300px;
  }
  .username_box {
    margin-left: 20px;
    width: 300px;
  }
  .register_input {
    height: 25px;
    font-size: 18px;
  }
  .go_on {
    margin-left: 250px;
    width: 100px;
  }
  #continue_btn {
    font-size: 15px;
  }
  .hint {
    font-size: 10px;
  }
  .user_container {
    margin-left: 20px;
    width: 300px;
  }
  .username_container {
    margin-left: 20px;
    width: 300px;
  }
  .company {
    margin-left: 20px;
    width: 300px;
  }
  .verify {
    margin-left: 20px;
    width: 300px;
  }
  .four_btn {
    display: inline;
    text-align: center;
    vertical-align: middle;
  }
  #list_btn {
    width: 300px;
    height: 100px;
    font-size: 20px;
  }
  #monitor_btn {
    width: 300px;
    height: 100px;
    font-size: 20px;
  }
  #setup_btn {
    width: 300px;
    height: 100px;
    font-size: 20px;
  }
  #error_manager {
    width: 300px;
    height: 100px;
    font-size: 20px;
  }
  #report_btn {
    width: 100px;
  }
  #excel_btn {
    width: 100px;
  }
  .table_container {
    margin: 0 17px;
    height: auto;
  }
  .report {
    margin: 10px 20px;
  }
  #station_title {
    margin: 10px 40px;
    font-size: 20px;
  }

  #password {
    margin-left: 20px;
    width: 230px;
  }
  #repassword {
    margin-left: 20px;
    width: 230px;
  }
  #register_title {
    margin: 20px;
    width: 300px;
  }
  #register {
    margin-left: 0px;
  }
  .name_box {
    display: flex;
    margin-left: 20px;
    width: 0px;
  }
  .register_btn {
    width: 200px;
    margin-left: 10px;
  }
  .password_box {
    margin: 0px;
    width: 300px;
  }
  .save_btn {
    margin-left: 300px;
  }
  .setting {
    height: 220px;
  }
  .select_set_machine {
    margin-left: 1px;
  }
  #search_setting {
    margin-left: 5px;
    margin-right: 25px;
    width: 100px;
  }
  .select_option {
    width: 100px;
  }
  .table_container_setting {
    width: auto;
    margin: 10px;
  }
  #select_station_list {
    margin: 10px 30px;
  }
  .station_btn {
    margin: 10px auto;
  }
  .station_info {
    margin: auto;
  }
  #info_subcontain {
    width: auto;
  }
  .info_content {
    display: block;
    width: auto;
    height: 700px;
    overflow: scroll;
  }
  #station_apply_btn {
    margin-top: 10px;
    margin-right: 20px;
  }
  .modal_change {
    width: auto;
    margin: 20px 10px;
  }
  .form-control {
    width: 50px;
    margin: 0 5px;
  }
  .set_select_context {
    margin-left: 80px;
  }
  #else_table {
    margin: auto 10px;
  }
  .select_choose {
    display: flex;
    justify-content: center;
  }
  #single_fan_data {
    display: flex;
  }
  .table_box {
    margin: 30px 10px;
  }
  #report_btn_container button {
    width: 85px;
  }
  #algorithm_table td {
    height: 0px;
  }
  .chart_container {
    height: auto;
    width: auto;
  }
  .chart {
    display: block;
  }
  .loader {
    width: 150px;
    left: 25%;
  }
  /*.nav-mobile {
    display: block;
  }  
  .nav_header {
    width: 100%;
  }
  .nav_header ul {
    display: none;
  }*/

  .nav_header ul li {
    float: none;
  }
  .nav_header ul li a {
    padding: 15px;
    line-height: 20px;
  }
  /*
  .nav-dropdown {
    position: static;
  } */
  .logo_name {
    display: none;
  }
  .repair_container {
    background-color: #fbfbfb;
    width: auto;
    margin: 10px 5px;
    height: 150px;
  }

  #repairDoneWindow {
    margin: 10px 10%;
  }
  #icon {
    display: none;
  }
  #pop_profile {
    width: 200px;
  }
  .user_profile {
    width: auto;
  }
  .abnornal_content {
    display: block;
  }
  .map_container {
    width: auto;
    margin: 10px;
  }
  .info_title label {
    margin: 10px 0;
  }
  .facility_subcontent {
    padding: 15px 0;
  }
  #facility_table th {
    width: 150px;
  }
  .facility_subtitle {
    height: auto;
  }
}
/* @media screen and (min-width: 768px) {
  .nav-list {
    display: block !important;
  }
} */
